.header-container{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 24px;

    .badge{
        border-radius: 100%;
        background-color: var(--color-primary);
    }
    .header-rightSide{
        display: flex;
        gap: 16px;
    }
}
