.header-container{
    @include flexBox(space-between, center, row);
    width: 100%;
    margin-bottom: 24px;

    .badge{
        border-radius: 100%;
        background-color: var(--color-primary);
    }

    .rightSide{
        @include flexBox(flex-start, stretch, row);
        gap: 16px;
    }
}
