.products-container{
    display: grid;
    gap: 8px;
    grid-template-columns: repeat(4, minmax(0, 1fr));

    .items{
        @include flexBox(flex-start, stretch, column);
        gap: 8px;
    
    .images{
        width: 200px;
        height: 200px;
    }

    .names{
        color: var(--color-primary);
    }
}
}