.shop-container-page {
  @include flexBox(flex-start, stretch, row);
  gap: 24px;
  height: 100vh;

  .leftSide {
    @include flexBox(flex-start, start, column);
    width: 20%;
    gap: 16px;
    overflow-y: scroll;
    height: 100vh;
    padding-bottom: 150px;

    &::-webkit-scrollbar {
      display: none !important;
    }
  }

  .rightSide {
    @include flexBox(flex-start, stretch, column);
    width: 80%;
    gap: 24px;

    .products-container {
      overflow-y: scroll;
      overflow-x: hidden;
      height: 100vh;

      &::-webkit-scrollbar {
        display: none !important;
      }

      .section {
        margin-bottom: 150px;

        .noProducts {
          position: absolute;
          @include flexBox(center, center, row);
          left: 50%;
          transform: translateX(-50%);
          color: var(--color-primary);
        }
      }
    }


  }
}
